@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url(Nunito+Sans_400_normal.eot); /* http://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I98.eot */
    src: local('☺'),
        url(Nunito+Sans_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I98.eot */
        url(Nunito+Sans_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2 */
        url(Nunito+Sans_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I90.woff */
        url(Nunito+Sans_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I95AcVwo.ttf */
        url(Nunito+Sans_400_normal.svg#Nunito+Sans_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=pe0qMImSLYBIv1o4X1M8cce9I9w&skey=60bfdc605ddb00b1&v=v4#NunitoSans */
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    src: url(Nunito+Sans_200_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Nunito+Sans_200_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Nunito+Sans_200_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc9yAs5tU1E.woff2 */
        url(Nunito+Sans_200_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc9yAs5tU1c.woff */
        url(Nunito+Sans_200_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc9yAs5tU1QCVZl_.ttf */
        url(Nunito+Sans_200_normal.svg#Nunito+Sans_200_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url(Nunito+Sans_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Nunito+Sans_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Nunito+Sans_300_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8WAc5tU1E.woff2 */
        url(Nunito+Sans_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8WAc5tU1c.woff */
        url(Nunito+Sans_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8WAc5tU1QCVZl_.ttf */
        url(Nunito+Sans_300_normal.svg#Nunito+Sans_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url(Nunito+Sans_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Nunito+Sans_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Nunito+Sans_600_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc9iB85tU1E.woff2 */
        url(Nunito+Sans_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc9iB85tU1c.woff */
        url(Nunito+Sans_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc9iB85tU1QCVZl_.ttf */
        url(Nunito+Sans_600_normal.svg#Nunito+Sans_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url(Nunito+Sans_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Nunito+Sans_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Nunito+Sans_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2 */
        url(Nunito+Sans_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1c.woff */
        url(Nunito+Sans_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/nunitosans/v4/pe03MImSLYBIv1o4X1M8cc8GBs5tU1QCVZl_.ttf */
        url(Nunito+Sans_700_normal.svg#Nunito+Sans_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat_400_normal.eot); /* http://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzw.eot */
    src: local('☺'),
        url(Montserrat_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzw.eot */
        url(Montserrat_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2 */
        url(Montserrat_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WlhzQ.woff */
        url(Montserrat_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WlhziTh89Y.ttf */
        url(Montserrat_400_normal.svg#Montserrat_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=JTUSjIg1_i6t8kCHKm459WlhzA&skey=7bc19f711c0de8f&v=v13#Montserrat */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(Montserrat_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2 */
        url(Montserrat_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD-A.woff */
        url(Montserrat_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD-_x3rCs.ttf */
        url(Montserrat_700_normal.svg#Montserrat_700_normal) format('svg'); /* {{svg-gf-url}} */
}
