html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.btn-success {
  background-color: #12d165;
  color: #fff;
  border-color: #0fa851;
}

.btn-success[disabled] {
  background-color: #108743;
  color: #fff;
  border-color: #096631;
}

.btn-success[disabled]:hover {
  background-color: #0e9348;
}

.root {
  height: calc(100% - 60px);
}

.full-height {
  height: 100%;
}

.app-bar {
  background-color: #262626;
  width: 100%;
  color: #ffffff;
}

.hidden {
  display: none;
}

.outer-songs {
  display: block;
  overflow-y: scroll;
  height: 100%;
}

.songs {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 auto;
  align-content: flex-start;
  justify-content: center;
}

.songs .song {
  margin: 7px;
  cursor: pointer;
}

.songs .song img {
  height: 138px;
  width: 246px;
  border-radius: 5px;
  border: solid 1px lightgray;
}

.toastholder {
  position: fixed;
  width: 100%;
  bottom: 6px;
}
